<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mtms.mapper.AssessmentMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.mtms.domain.Assessment">
    <!--@mbg.generated-->
    <!--@Table mtms_assessment-->
    <id column="assessment_id" jdbcType="INTEGER" property="assessmentId" />
    <result column="patient_id" jdbcType="INTEGER" property="patientId" />
    <result column="fill_date" jdbcType="TIMESTAMP" property="fillDate" />
    <result column="main_consult" jdbcType="LONGVARCHAR" property="mainConsult" />
    <result column="liver_damage" jdbcType="BOOLEAN" property="liverDamage" />
    <result column="liver_damage_desc" jdbcType="VARCHAR" property="liverDamageDesc" />
    <result column="kidney_damage" jdbcType="BOOLEAN" property="kidneyDamage" />
    <result column="kidney_damage_desc" jdbcType="VARCHAR" property="kidneyDamageDesc" />
    <result column="allergy_history" jdbcType="BOOLEAN" property="allergyHistory" />
    <result column="medication_side_effect" jdbcType="BOOLEAN" property="medicationSideEffect" />
    <result column="del_flag" jdbcType="BOOLEAN" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    assessment_id, patient_id, fill_date, main_consult, liver_damage, liver_damage_desc, 
    kidney_damage, kidney_damage_desc, allergy_history, medication_side_effect, del_flag, 
    create_by, create_time, update_by, update_time
  </sql>
    <resultMap id="AssessmentListMap" type="com.ruoyi.mtms.vo.AssessmentVO">
        <id column="assessment_id" jdbcType="INTEGER" property="assessmentId" />
        <result column="fill_date" jdbcType="TIMESTAMP" property="fillDate" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="main_consult" jdbcType="LONGNVARCHAR" property="mainConsult" />
        <association javaType="com.ruoyi.mtms.vo.PatientInfoVO" property="patientInfoVO">
            <id column="patient_id" jdbcType="INTEGER" property="patientId" />
            <result column="patient_name" jdbcType="VARCHAR" property="patientName" />
            <result column="birthday" jdbcType="INTEGER" property="age" />
            <result column="gender" jdbcType="TINYINT" property="gender" />
            <result column="phone" jdbcType="VARCHAR" property="phone" />
            <result column="id_card_num" jdbcType="VARCHAR" property="idCardNum" />
        </association>
        <collection ofType="com.ruoyi.mtms.vo.DiseaseVO" property="diseaseVOS">
            <id column="disease_id" jdbcType="INTEGER" property="diseaseId" />
            <result column="disease_name" jdbcType="VARCHAR" property="diseaseName" />
            <result column="disease_key" jdbcType="VARCHAR" property="diseaseKey" />
        </collection>
    </resultMap>
    <select id="selectAssessmentPage" resultMap="AssessmentListMap">
        select ma.assessment_id,
               ma.fill_date,
               mpi.patient_id,
               mpi.patient_name,
               mpi.birthday,
               mpi.gender,
               mpi.phone,
               mpi.id_card_num,
               md.disease_id,
               md.disease_name,
               md.disease_key,
               su.user_name
        from mtms_assessment ma
                     left join mtms_patient_info mpi
                on ma.patient_id = mpi.patient_id and mpi.del_flag = 0
                     left join mtms_assessment_diagnosis mad on ma.assessment_id = mad.assessment_id
                     left join mtms_disease md on mad.disease_id = md.disease_id and md.del_flag = 0
                     left join sys_user su on su.user_id = ma.create_by
                where ma.del_flag = 0
        <if test="assessmentDTO.fillDateStart != null and assessmentDTO.fillDateStart != ''">
            <bind name="fillDateStart" value="assessmentDTO.fillDateStart + ' 00:00:00'"/>
            and ma.fill_date >= #{fillDateStart}
        </if>
        <if test="assessmentDTO.fillDateEnd != null and assessmentDTO.fillDateEnd != ''">
            <bind name="fillDateEnd" value="assessmentDTO.fillDateEnd + ' 23:59:59'"/>
            and #{fillDateEnd} >= ma.fill_date
        </if>
        <if test="assessmentDTO.patientName != null and assessmentDTO.patientName != ''">
            <bind name="patientName" value="'%' + assessmentDTO.patientName + '%'" />
            and mpi.patient_name like #{patientName}
        </if>
        <if test="assessmentDTO.phone != null and assessmentDTO.phone != ''">
            <bind name="phone" value="'%' + assessmentDTO.phone + '%'" />
            and mpi.phone like #{phone}
        </if>
        <if test="assessmentDTO.idCardNum != null and assessmentDTO.idCardNum != ''">
            <bind name="idCardNum" value="'%' + assessmentDTO.idCardNum + '%'" />
            and mpi.id_card_num like #{idCardNum}
        </if>
        <if test="diseaseIds != null and diseaseIds != '' and diseaseIds.length != 0">
            and ma.assessment_id in (select assessment_id
                                     from (select assessment_id, group_concat(diagnosis_id) diagnosis_id
                                           from mtms_assessment_diagnosis
                                           group by assessment_id) diagnosis
                                     where locate(#{diseaseIds}, diagnosis_id))
        </if>
        order by ma.fill_date desc
    </select>
    <select id="selectAssessmentByPatientId" resultMap="AssessmentListMap">
        select ma.assessment_id, ma.patient_id, ma.fill_date, ma.main_consult, su.user_name
        from mtms_assessment ma
                     left join sys_user su on ma.create_by = su.user_id
        where ma.del_flag = 0
          and ma.patient_id = #{patientId}
        order by ma.fill_date desc
    </select>

    <select id="selectUseMedRecordList" resultType="com.ruoyi.mtms.vo.UseMedRecordVO">
        select umr.use_start_tIme,
               umr.use_end_time,
               umr.med_id,
               mmi.med_id,
               mmi.med_name,
               mmi.med_spec,
               mmi.med_type,
               mmi.vendor,
               mmi.package_unit,
               mmi.use_unit,
               mmi.indication,
               mmi.usage_standard,
               mmi.unit_price,
               mmi.untoward_effect,
               mmi.taboo,
               mmi.caution,
               mmi.storage_method
        from mtms_use_med_record umr
                     left join mtms_medicine_info mmi on umr.med_id = mmi.med_id
        where patient_id = #{useMedRecord.patientId}
    </select>
</mapper>