<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mtms.mapper.DetectBloodLipidsMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.mtms.domain.DetectBloodLipids">
    <!--@mbg.generated-->
    <!--@Table mtms_detect_blood_lipids-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="assessment_id" jdbcType="INTEGER" property="assessmentId" />
    <result column="patient_id" jdbcType="INTEGER" property="patientId" />
    <result column="detect_date" jdbcType="DATE" property="detectDate" />
    <result column="TC" jdbcType="VARCHAR" property="tc" />
    <result column="LDL" jdbcType="VARCHAR" property="ldl" />
    <result column="HDL_C" jdbcType="VARCHAR" property="hdlC" />
    <result column="TG" jdbcType="VARCHAR" property="tg" />
    <result column="LP_A" jdbcType="VARCHAR" property="lpA" />
    <result column="blood_uric_acid" jdbcType="VARCHAR" property="bloodUricAcid" />
    <result column="creatine_kinase" jdbcType="VARCHAR" property="creatineKinase" />
    <result column="del_flag" jdbcType="BOOLEAN" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, assessment_id, patient_id, detect_date, TC, LDL, HDL_C, TG, LP_A, blood_uric_acid, 
    creatine_kinase, del_flag, create_by, create_time, update_by, update_time
  </sql>
</mapper>