<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mtms.mapper.DiseaseMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.mtms.domain.Disease">
        <!--@mbg.generated-->
        <!--@Table mtms_disease-->
        <id column="disease_id" jdbcType="INTEGER" property="diseaseId"/>
        <result column="disease_name" jdbcType="VARCHAR" property="diseaseName"/>
        <result column="disease_key" jdbcType="VARCHAR" property="diseaseKey"/>
        <result column="del_flag" jdbcType="BOOLEAN" property="delFlag"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        disease_id, disease_name, disease_key, del_flag, create_by, create_time, update_by,
        update_time
    </sql>
    <select id="getDiseaseVoList" resultType="com.ruoyi.mtms.vo.DiseaseVO">
        select md.disease_id, md.disease_name, md.disease_key
        from mtms_disease md
                     left join mtms_assessment_diagnosis mad on md.disease_id = mad.disease_id
        where md.del_flag = 0
          and mad.assessment_id = #{assessmentId,jdbcType=INTEGER}
        group by md.disease_id
    </select>
</mapper>