<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mtms.mapper.MedicationProblemsMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.mtms.domain.MedicationProblems">
        <!--@mbg.generated-->
        <!--@Table mtms_medication_problems-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="assessment_id" jdbcType="INTEGER" property="assessmentId"/>
        <result column="patient_id" jdbcType="INTEGER" property="patientId"/>
        <result column="disease_id" jdbcType="INTEGER" property="diseaseId"/>
        <result column="med_id" jdbcType="INTEGER" property="medId"/>
        <result column="indications" jdbcType="INTEGER" property="indications"/>
        <result column="effectiveness" jdbcType="INTEGER" property="effectiveness"/>
        <result column="safety" jdbcType="INTEGER" property="safety"/>
        <result column="compliance" jdbcType="INTEGER" property="compliance"/>
        <result column="problem" jdbcType="VARCHAR" property="problem"/>
        <result column="treatment_suggestion" jdbcType="VARCHAR" property="treatmentSuggestion"/>
        <result column="is_resolved" jdbcType="BOOLEAN" property="isResolved"/>
        <result column="improvement_details" jdbcType="VARCHAR" property="improvementDetails"/>
        <result column="del_flag" jdbcType="BOOLEAN" property="delFlag"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, assessment_id, patient_id, disease_id, med_id, indications, effectiveness, safety,
        compliance, problem, treatment_suggestion, is_resolved, improvement_details, del_flag,
        create_by, create_time, update_by, update_time
    </sql>

    <!--auto generated by MybatisCodeHelper on 2020-09-09-->
    <select id="selectMedProblemsPage" resultType="com.ruoyi.mtms.vo.MedicationProblemsVO">
        select id,
               assessment_id,
               patient_id,
               disease_id,
               med_id,
               indications,
               effectiveness,
               safety,
               compliance,
               problem,
               treatment_suggestion,
               is_resolved,
               improvement_details,
               md.disease_name,
               mmi.med_name
        from mtms_medication_problems mmp
                     left join mtms_disease md on mmp.disease_id = md.disease_id
                     left join mtms_medicine_info mmi on mmp.med_id = mmi.med_id
                where mmp.del_flag = 0
        <if test="patientId != null">
            and mmp.patient_id = #{patientId,jdbcType=INTEGER}
        </if>
        <if test="assessmentId != null">
            and mmp.assessment_id = #{assessmentId,jdbcType=INTEGER}
        </if>
        order by mmp.create_time desc
    </select>
</mapper>