<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mtms.mapper.UseMedRecordMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.mtms.domain.UseMedRecord">
    <!--@mbg.generated-->
    <!--@Table mtms_use_med_record-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="assessment_id" jdbcType="INTEGER" property="assessmentId" />
    <result column="patient_id" jdbcType="INTEGER" property="patientId" />
    <result column="use_start_time" jdbcType="DATE" property="useStartTime" />
    <result column="use_end_time" jdbcType="DATE" property="useEndTime" />
    <result column="med_id" jdbcType="INTEGER" property="medId" />
    <result column="usage" jdbcType="VARCHAR" property="usage" />
    <result column="dosage_monthly" jdbcType="VARCHAR" property="dosageMonthly" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="del_flag" jdbcType="BOOLEAN" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, assessment_id, patient_id, use_start_time, use_end_time, med_id, `usage`, dosage_monthly, 
    remark, del_flag, create_by, create_time, update_by, update_time
  </sql>
</mapper>